<!DOCTYPE html>
<html>
  <head>
    <title>Airbnb Clone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyC7uYChVm0w8cDKMlGmon0XbJDUiiBBc4g" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('airbnb_favicon.png') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
